html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.control-outer {
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	cursor: pointer;
	margin-bottom: 22px;
	text-align: center;
}

.control-inner {
	color: rgb(25,25,25);
	font-family: Roboto, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	/*line-height: 38px;*/
	padding-left: 5px;
	padding-right: 5px;
}

.control-list {
	min-width: 100px;
	margin-top: 5px;
	border: 0;
	overflow: scroll;
}

#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#center-control, #marker-list, #search-control {
	position: absolute;
	right: 0px;
	margin: 5px;
	z-index: 0;
}

#center-control {
	top: 50px;
}

#marker-list {
	top: 100px;
}

#search-control {
	top: 300px;
}